/* Project Image Formatting */
.projectImageContainer {
    margin: auto;
}

.projectImageContainer .projectImage {
    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
}

.projectImageContainer .projectImage,
.projectImageContainer .projectImage img {
    width: 576px;
    height: 360px;
}

.projectImageContainer .projectImage {
    outline: 1px solid grey;
    box-shadow: 0 4px 4px -2px grey;
}

.projectImageContainer .projectImage.titleImage,
.projectImageContainer .projectImage.titleImage img {
    width: 400px;
    height: 250px;
    padding-bottom: 0;
    border-radius: 50px;
}

.projectImageContainer .projectImage.titleImage {
    outline: 5px solid var(--primary);
    box-shadow: 0 11px 6px -4px grey;
}

.projectImageContainer h5 {
    text-align: center;
    margin-top: 25px;
    font-weight: 500;
}

.projectDisplay .projectImageContainer h5 {
    margin-top: 25px;
}

@media (max-width: 900px) {
    .projectImageContainer {
        width: 100%;
    }

    .projectImageContainer .projectImage,
    .projectImageContainer .projectImage img {
        width: 100%;
    }

    .projectImageContainer .projectImage {
        height: max-content;
    }

    .projectImageContainer .projectImage img {
        height: auto;
    }
}

@media (max-width: 620px) {
    .projectImageContainer .projectImage.titleImage,
    .projectImageContainer .projectImage.titleImage img {
        width: 100%;
        height: auto;
    }
}
