/* Project Image Formatting */
.projectImageContainer {
    margin: auto;
}

.projectImageContainer .projectImage {
    text-align: center;
    margin: auto;
    position: relative;
    margin-bottom: 20px;
    outline: 0.5px solid lightgrey;
}

.projectImageContainer .projectImage,
.projectImageContainer .projectImage img {
    width: 576px;
    height: 360px;
    border-radius: 50px;
}

.projectImageContainer .projectImage.titleImage,
.projectImageContainer .projectImage.titleImage img {
    width: 400px;
    height: 250px;
    padding-bottom: 0;
    border-radius: 50px;
}

.projectImageContainer h5 {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    padding-left: 0;
}

@media (max-width: 1200px) {
    .projectImageContainer .projectImage {
        /* margin-left: 0;
        margin-right: 0; */
    }
}

@media (max-width: 650px) {
    .projectImageContainer {
        width: 100%;
    }

    .projectImageContainer .projectImage,
    .projectImageContainer .projectImage img {
        width: 100%;
        height: auto;
        margin: auto;
    }
}

@media (max-width: 480px) {
    .projectImageContainer .projectImage.titleImage,
    .projectImageContainer .projectImage.titleImage img {
        width: 100%;
        height: auto;
        margin: auto;
    }
}
