/* Page */

.resume {
    background-color: rgb(0, 173, 164);
    margin: 0;
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
}

.resume .banner {
    background: url("../../Images/resume.jpg") no-repeat center center;
    z-index: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
}

.resume .overlay {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(4, 55, 162, 0.3)), to(rgba(4, 55, 162, 0.8)));
    background-image: linear-gradient(to right, rgba(4, 55, 162, 0.3), rgba(4, 55, 162, 0.8));
    top: 0;
    left: 0;
    z-index: 1
}

.resume .flex {
    margin: auto;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.resume .flex .leftContainer {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 3;
}

.resume .flex .leftContainer h1 {
    font-size: 80px;
    font-weight: 200;
    margin: 0;
    color: white;
}

.resume .flex .rightContainer {
    width: 50%;
    background-color: rgba(0, 0, 0, 0.78);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    z-index: 3;
    min-height: 100vh;
    padding-left: 60px;
    padding-right: 60px;
}

.resume .flex .container {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 80px;
}

.resume .flex .container ul {
    padding-left: 20px;
}

.resume .flex .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.resume .flex .tabs button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 200;
    cursor: pointer;
    text-align: left;
}

.resume .flex .tabs button div {
    display: inline-block;
    text-align: center;
    margin: auto;
}

.resume .flex .tabs button div.mobile {
    display: none;
}

.resume .flex .tabs i {
    margin-right: 20px;
}

.resume .flex .tabs button:hover div {
    color: rgb(210, 98, 213);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

.resume .flex .dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}

.resume .flex .dots i {
    font-size: 24px;
    text-align: center;
    width: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 0;
    cursor: pointer;
}

.resume h3,
.resume h4,
.resume h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.resume h3 {
    font-size: 24px;
    line-height: 34px;
    padding-top: 50px;
    color: rgb(210, 98, 213);
    font-weight: 200;
}

.resume h4 {
    color: rgb(230, 230, 230);
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
}

.resume h4 span {
    margin-left: 10px;
    margin-right: 10px;
}

.resume h5 {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(230, 230, 230);
    margin-top: 8px;
}

.resume li {
    color: rgb(230, 230, 230);
}

@media (max-width: 900px) {
    .resume h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .resume h4 {
        font-size: 18px;
        margin-top: 9px;
        line-height: 26px;
    }

    .resume h5 {
        font-size: 16px;
        margin-top: 7px;
    }

    .resume li {
        font-size: 16px;
    }

    .resume .flex .leftContainer h1 {
        font-size: 60px;
    }
}

@media (max-width: 480px) {
    .resume h2 {
        width: 100%;
    }
}


/* Section Formatting */

.resume .skills,
.resume .work,
.resume .education {
    margin: 0;
    padding: 0;
}

/* Skills Section */

.resume .skillsGrid div {
    width: 170px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px auto;
}

.resume .skillsGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media (max-width: 700px) {
    .resume {
        padding-top: 80px;
    }

    .resume .flex .tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        margin-top: 30px;
        width: 100%;
    }

    .resume .flex button {
        width: 120px;
        margin: auto;
    }

    .resume .flex .tabs button div {
        font-size: 20px;
        border-bottom: 2px solid white;
        padding-bottom: 3px;
        font-weight: 300;
    }

    .resume .flex .tabs button div.mobile {
        display: block;
    }

    .resume .flex .tabs button div.default {
        display: none;
    }

    .resume .flex .tabs button:hover div {
        color: rgb(210, 98, 213);
    }

    .resume i {
        display: none;
    }

    .resume .flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .resume .flex .leftContainer,
    .resume .flex .rightContainer {
        width: 100%;
        min-height: auto;
    }

    .resume .flex .leftContainer,
    .resume .flex .rightContainer {
        min-height: 30vh;
    }

    .resume .flex .rightContainer {
        margin-top: 60px;
        min-height: 70vh;
    }

    .resume .overlay {
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(4, 55, 162, 0.5)), to(rgba(4, 55, 162, 0.5)));
        background-image: linear-gradient(to right, rgba(4, 55, 162, 0.5), rgba(4, 55, 162, 0.5));
    }
}

@media (max-width: 450px) {
    .resume .flex button {
        width: 120px;
        margin: auto;
    }

    .resume .flex .tabs button div {
        display: block;
        font-size: 20px;
        border-bottom: 2px solid white;
        padding-bottom: 3px;
        font-weight: 300;
    }

    .resume .flex .tabs button:hover div {
        color: rgb(210, 98, 213);
    }

    .resume i {
        display: none;
    }

    .resume .flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .resume .flex .leftContainer,
    .resume .flex .rightContainer {
        width: 100%;
        min-height: auto;
    }

    .resume .flex .leftContainer,
    .resume .flex .rightContainer {
        min-height: 30vh;
    }

    .resume .flex .rightContainer {
        margin-top: 20px;
        min-height: 70vh;
    }

    .resume .flex .container {
        margin-top: 0px;
        margin-bottom: 50px;
    }
}
