/* Main Page */

.home {
    min-height: 100vh;
    max-width: 1500px;
    width: 100%;
    position: relative;
    background-color: var(--background);
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
}

.home .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}

.home .homeText {
    z-index: 1;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
}

.home a {
    color: black;
}

.home .homeText h1,
.home .homeText h2 {
    margin: 0px;
    font-weight: 200;
}

.home h1 {
    font-size: 80px;
    letter-spacing: 0.6;
}

.home h2 {
    font-size: 32px;
}

.home .fontAwesomeLogos {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
}

.home .fontAwesomeLogos i {
    margin: 0;
    margin-bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 32px;
}

.home .fontAwesomeLogos i:hover {
    color: var(--primarylight);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

.home .fontAwesomeLogos a {
    width: 30px;
    margin-left: 20px;
    margin-right: 7px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}

.home .fontAwesomeLogos a.left {
    margin-left: 0px;
}

.home .fontAwesomeLogos a.right {
    margin-right: 0px;
}

.home .fontAwesomeLogos .downloadButton {
    display: block;
    font-size: 20px;
    background-color: var(--primary);
    border: none;
    padding: 4px 12px;
    font-weight: 200;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    border-radius: 6px;
    width: fit-content;
    color: black
}

.home .fontAwesomeLogos .downloadButton:hover {
    background-color: var(--primarylight);
    color: grey;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

.home .profilePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.home .profilePic div {
    background: url("../../Images/profilePic.jpg") no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 1550px;
    width: 1550px;
    background-size: cover;
    -webkit-transform: scale(0.13);
            transform: scale(0.13);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -moz-transform: scale(0.13);
    -moz-transform-origin: top left;
}

.home .summary ul {
    list-style-type: none;
}

.home .summary ul {
    margin-top: 0;
    padding: 0;
}

.home .summary li {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 300;
    margin: 12px 0;
    padding-left: 0;
    line-height: 32px;
}

.home .points {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.home .pointsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: var(--primarylight);
    border-radius: 50px;
    width: 450px;
    margin: 0 auto;
}

.home .pointsContainer h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.home .pointsContainer ul {
    padding-left: 16px;
}

.home .pointsContainer li {
    /* font-family: "Muli", sans-serif; */
    font-size: 16px;
    line-height: 22px;
    margin: 6px 0;
}

@media (max-width: 1000px) {
    .home .homeText h1 {
        font-size: 70px;
        letter-spacing: 0;
    }

    .home .homeText h2 {
        font-size: 27.5px;
    }

    .home .fontAwesomeLogos a {
        width: 27.5px;
    }

    .home .fontAwesomeLogos i {
        font-size: 27.5px;
    }

    .home .fontAwesomeLogos i.fa-envelope {
        font-size: 26.5px;
    }
}

@media (max-width: 650px) {
    .home .homeText h1 {
        font-size: 60px;
        letter-spacing: 0.5;
    }

    .home .homeText h2 {
        font-size: 24px;
    }

    .home .fontAwesomeLogos {
        margin-top: 10px;
    }

    .home .fontAwesomeLogos a {
        width: 25px;
    }

    .home .fontAwesomeLogos i {
        font-size: 26px;
    }

    .home .fontAwesomeLogos i.fa-envelope {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .home .homeText {
        top: -7%;
    }

    .home .homeText h1 {
        font-size: 35px;
    }

    .home .homeText h2 {
        font-size: 20px;
    }

    .home .fontAwesomeLogos {
        margin-top: 7.5px;
    }

    .home .fontAwesomeLogos a {
        margin-right: 5px;
        margin-left: 5px;
        width: 21px;
    }

    .home .fontAwesomeLogos i {
        font-size: 22px;
        margin-right: 0;
        margin-left: 0;
    }

    .home .fontAwesomeLogos i.fa-envelope {
        font-size: 21px;
    }
}
