[build]
  command = "npm run build"
  publish = "build"

# --- GAME PROXIES ---
[[redirects]]
  from = "/games/galaga_knockoff/*"
  to = "https://galagaknockoff.netlify.app/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/games/galaga_knockoff/static/*"
  to = "https://galagaknockoff.netlify.app/static/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/games/when_bunnies_attack/*"
  to = "https://whenbunniesattack.netlify.app/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/games/when_bunnies_attack/static/*"
  to = "https://whenbunniesattack.netlify.app/static/:splat"
  status = 200
  force = true

# --- PORTFOLIO SPA FALLBACK ---
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200