/* Page */

.whyMe {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 80px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.whyMe .banner {
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url("../../Images/whyMeBackground.jpg") no-repeat center center;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../../Images/whyMeBackground.jpg") no-repeat center center;
    z-index: -1;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
}

.whyMe .whyMeText {
    margin: 0;
}

.whyMe h1 {
    margin: 0;
    text-align: center;
    color: rgb(0, 137, 203);
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 50px;
}

@media (max-width: 480px) {
    .whyMe h1 {
        font-size: 48px;
    }
}

.whyMe .flex {
    width: 100%;
}

.whyMe .point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin: -4px 0px; */
}

.whyMe .picContainer {
    width: 50%;
    max-width: 400px;
    height: 250px;
    position: relative;
}

.whyMe .text {
    width: 50%;
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.whyMe p {
    width: 70%;
    color: rgb(40, 40, 40);
}

.whyMe .pic {
    z-index: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.whyMe #whyMeIBM {
    background: url("../../Images/whyMeIBM.jpg") no-repeat center center;
    height: 1851.8518518518517px;
    width: 740.74074074074066%;
    -webkit-transform: scale(.135);
            transform: scale(.135);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -moz-transform: scale(0.135);
    -moz-transform-origin: top left;
}

.whyMe #whyMeFreelance {
    background: url("../../Images/whyMeFreelance.jpg") no-repeat center center;
    height: 3571.428571428571px;
    width: 1428.5714285714285%;
    -webkit-transform: scale(.07);
            transform: scale(.07);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -moz-transform: scale(0.07);
    -moz-transform-origin: top left;
}

.whyMe #whyMeBerkeley {
    background: url("../../Images/whyMeBerkeley.jpg") no-repeat left center;
    height: 500px;
    width: 200%;
    -webkit-transform: scale(.5);
            transform: scale(.5);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -moz-transform: scale(0.5);
    -moz-transform-origin: top left;
}

.whyMe #whyMeBrazil {
    background: url("../../Images/whyMeBrazil.jpg") no-repeat center center;
    height: 2777.777777777778px;
    width: 1111.111111111111%;
    -webkit-transform: scale(.09);
            transform: scale(.09);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -moz-transform: scale(0.09);
    -moz-transform-origin: top left;
}

@media (max-width: 860px) {
    .whyMe .picContainer {
        height: 220px;
    }

    .whyMe #whyMeIBM {
        height: 1718.75px;
        width: 781.25%;
        -webkit-transform: scale(.128);
                transform: scale(.128);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.128);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeFreelance {
        height: 3384.6153846153843px;
        width: 1538.4615384615383%;
        -webkit-transform: scale(.065);
                transform: scale(.065);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.065);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBerkeley {
        height: 550.0px;
        width: 250%;
        -webkit-transform: scale(.4);
                transform: scale(.4);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.4);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBrazil {
        height: 2558.1395348837214px;
        width: 1162.7906976744187%;
        -webkit-transform: scale(.086);
                transform: scale(.086);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.086);
        -moz-transform-origin: top left;
    }
}

@media (max-width: 760px) {
    .whyMe #whyMeIBM {
        height: 1913.0434782608695px;
        width: 869.5652173913043%;
        -webkit-transform: scale(.115);
                transform: scale(.115);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.115);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBrazil {
        height: 2682.9268292682927px;
        width: 1219.5121951219512%;
        -webkit-transform: scale(.082);
                transform: scale(.082);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.082);
        -moz-transform-origin: top left;
    }
}

@media (max-width: 700px) {
    .whyMe .picContainer {
        width: 50%;
        height: 190px;
    }

    .whyMe #whyMeIBM {
        height: 1727.2727272727272px;
        width: 909.0909090909092%;
        -webkit-transform: scale(.11);
                transform: scale(.11);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.11);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeFreelance {
        height: 3333.333333333333px;
        width: 1754.3859649122805%;
        -webkit-transform: scale(.057);
                transform: scale(.057);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.057);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBerkeley {
        height: 593.75px;
        width: 312.5%;
        -webkit-transform: scale(.32);
                transform: scale(.32);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.32);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBrazil {
        height: 2714.285714285714px;
        width: 1428.5714285714284%;
        -webkit-transform: scale(.07);
                transform: scale(.07);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.07);
        -moz-transform-origin: top left;
    }
}

@media (max-width: 630px) {
    .whyMe .picContainer {
        width: 100%;
        height: 220px;
        grid-row: 1;
    }

    .whyMe .text {
        width: 100%;
        grid-row: 2;
    }

    .whyMe .point {
        display: grid;
        grid-template-rows: repeat(2, 220px);
    }

    .whyMe #whyMeIBM {
        height: 1718.75px;
        width: 781.25%;
        -webkit-transform: scale(.128);
                transform: scale(.128);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.128);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeFreelance {
        height: 3384.6153846153843px;
        width: 1538.4615384615383%;
        -webkit-transform: scale(.065);
                transform: scale(.065);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.065);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBerkeley {
        height: 550.0px;
        width: 250%;
        -webkit-transform: scale(.4);
                transform: scale(.4);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.4);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBrazil {
        height: 2558.1395348837214px;
        width: 1162.7906976744187%;
        -webkit-transform: scale(.086);
                transform: scale(.086);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.086);
        -moz-transform-origin: top left;
    }
}

@media (max-width: 380px) {
    .whyMe .picContainer {
        height: 200px;
    }

    .whyMe .point {
        grid-template-rows: repeat(2, 200px);
    }

    .whyMe #whyMeIBM {
        height: 1785.7142857142858px;
        width: 892.8571428571429%;
        -webkit-transform: scale(.112);
                transform: scale(.112);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.112);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeFreelance {
        height: 3508.771929824561px;
        width: 1754.3859649122805%;
        -webkit-transform: scale(.057);
                transform: scale(.057);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.057);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBerkeley {
        height: 606.060606060606px;
        width: 303.030303030303%;
        -webkit-transform: scale(.33);
                transform: scale(.33);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.33);
        -moz-transform-origin: top left;
    }

    .whyMe #whyMeBrazil {
        height: 2666.666666666667px;
        width: 1333.3333333333335%;
        -webkit-transform: scale(.075);
                transform: scale(.075);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.075);
        -moz-transform-origin: top left;
    }
}

@media (max-width: 330px) {
    .whyMe #whyMeIBM {
        height: 2000px;
        width: 1000%;
        -webkit-transform: scale(.1);
                transform: scale(.1);
        -webkit-transform-origin: top left;
                transform-origin: top left;
        -moz-transform: scale(0.1);
        -moz-transform-origin: top left;
    }
}
