/* Page */

.whyMe {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 80px 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.whyMe .banner {
    background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.85)), to(rgba(255, 255, 255, 0.85))), url("../../Images/whyMe.jpg") no-repeat center center;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../../Images/whyMe.jpg") no-repeat center center;
    z-index: -1;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-attachment: fixed;
}

.whyMe .whyMeText {
    margin: 0;
}

.whyMe h1 {
    margin: 0;
    text-align: center;
    color: rgb(0, 137, 203);
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 50px;
}

@media (max-width: 480px) {
    .whyMe h1 {
        font-size: 48px;
    }
}

.whyMe .flex {
    width: 100%;
}

.whyMe .point {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* margin: -4px 0px; */
}

.whyMe .picContainer {
    width: 50%;
    max-width: 400px;
    height: 250px;
    position: relative;
}

.whyMe .text {
    width: 50%;
    max-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.whyMe p {
    width: 70%;
    color: rgb(40, 40, 40);
}

.whyMe .pic {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.whyMe #whyMeIBM {
    background: url("../../Images/whyMeIBM.jpg") no-repeat center center;
    height: 250px;
    width: 100%;
    background-size: 100% auto;
}

.whyMe #whyMeFreelance {
    background: url("../../Images/whyMeFreelance.jpg") no-repeat center center;
    height: 250px;
    width: 100%;
    background-size: 100% auto;
}

.whyMe #whyMeBerkeley {
    background: url("../../Images/whyMeBerkeley.jpg") no-repeat left center;
    height: 250px;
    width: 100%;
    background-size: 100% auto;
}

.whyMe #whyMeBrazil {
    background: url("../../Images/whyMeBrazil.jpg") no-repeat center center;
    height: 250px;
    width: 100%;
    background-size: 100% auto;
}

@media (max-width: 860px) {
    .whyMe .picContainer,
    .whyMe #whyMeIBM,
    .whyMe #whyMeFreelance,
    .whyMe #whyMeBerkeley,
    .whyMe #whyMeBrazil {
        height: 220px;
    }
}

@media (max-width: 700px) {
    .whyMe .picContainer,
    .whyMe #whyMeIBM,
    .whyMe #whyMeFreelance,
    .whyMe #whyMeBerkeley,
    .whyMe #whyMeBrazil {
        height: 190px;
    }
}

@media (max-width: 630px) {
    .whyMe .picContainer,
    .whyMe #whyMeIBM,
    .whyMe #whyMeFreelance,
    .whyMe #whyMeBerkeley,
    .whyMe #whyMeBrazil {
        width: 100%;
        height: 220px;
    }

    .whyMe .picContainer {
        grid-row: 1;
    }

    .whyMe .text {
        width: 100%;
        grid-row: 2;
    }

    .whyMe .point {
        display: grid;
        grid-template-rows: repeat(2, 220px);
    }
}

@media (max-width: 380px) {
    .whyMe .picContainer,
    .whyMe #whyMeIBM,
    .whyMe #whyMeFreelance,
    .whyMe #whyMeBerkeley,
    .whyMe #whyMeBrazil {
        height: 200px;
    }

    .whyMe .point {
        grid-template-rows: repeat(2, 200px);
    }
}
