/* Page */

.whyMe {
    min-height: 100vh;
    height: 1300px;
    width: 100%;
    /* background-color: rgb(0, 158, 212); */
    margin: 0;
    padding: 80px 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.whyMe .whyMeText {
    margin: 0;
}

.whyMe h1 {
    margin: 0;
    text-align: center;
    color: rgb(61, 80, 153);
    font-weight: 200;
    font-size: 60px;
    margin-bottom: 50px;
}

.whyMe .flex {
    width: 100%;
}

.whyMe .point {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: -4px 0px; */
}

.whyMe .picContainer {
    width: 50%;
    max-width: 400px;
    height: 250px;
    position: relative;
}

.whyMe .text {
    width: 50%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whyMe p {
    width: 70%;
}

.whyMe .pic {
    background: url("../../Images/introPattern.jpg") no-repeat center center;
    z-index: 0;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.whyMe #whyMeIBM {
    background: url("../../Images/whyMeIBM.jpg") no-repeat center center;
    zoom: 13.5%;
}

.whyMe #whyMeFreelance {
    background: url("../../Images/whyMeFreelance.jpg") no-repeat center center;
    zoom: 7%;
}

.whyMe #whyMeBerkeley {
    background: url("../../Images/whyMeBerkeley.jpg") no-repeat left center;
    zoom: 50%;
}

.whyMe #whyMeBrazil {
    background: url("../../Images/whyMeBrazil.jpg") no-repeat center center;
    zoom: 9%;
}
