/* Main Page */

.profile {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    background: linear-gradient(rgba(158, 213, 247, 0.5), rgba(135, 206, 251, 0.1), rgba(135, 206, 251, 0.2)), url("../../Images/homeBackground.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
    /* gap: 100px; */
}

.profile .topSection {
    padding: 50px 100px 125px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .bottomSection {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 125px solid white;
    border-left: 100vw solid transparent;
}

.profile .container {
    width: 100%;
    /* max-width: 1000px; */
    display: flex;
    flex-direction: column;
}

.profile .topSection .container {
    gap: 100px;
    align-items: start;
    justify-content: space-between;
}

.profile .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
}

.profile .profileText {
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
}

.profile h1,
.profile .profileText h2,
.profile h3,
.profile h4 {
    margin: 0px;
    color: white;
}

.profile h2 {
    font-weight: 400;
    font-size: 32px;
}

.profile h3,
.profile h4 {
    font-weight: 400;
    font-family: "Muli", sans-serif;
    margin-top: 10px;
}

.profile h3 {
    font-size: 20px;
}

.profile h4 {
    font-size: 24px;
}

.profile .summary {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    padding: 8px 16px;
}

@media (max-width: 1000px) {
    .profile {
        min-height: 650px;
    }

    .profile .profilePic {
        height: 175px;
        width: 175px;
    }
    
    .profile .profilePic div {
        -webkit-transform: scale(0.1129);
                transform: scale(0.1129);
        -moz-transform: scale(0.1129);
    }

    .profile .profileText {
        gap: 12px;
    }

    .profile h2 {
        font-size: 27.5px;
    }

    .profile h3 {
        font-size: 18px;
    }
}

@media (max-width: 825px) {
    .profile {
        min-height: 600px;
    }

    .profile .topSection {
        padding: 40px 50px 125px;
    }

    .profile .profileText {
        gap: 10px;
        align-items: flex-start;
    }

    .profile .profilePic {
        height: 225px;
        width: 225px;
    }
    
    .profile .profilePic div {
        -webkit-transform: scale(0.14516);
                transform: scale(0.14516);
        -moz-transform: scale(0.14516);
    }

    .profile .summary {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .profile {
        min-height: 525px;
    }

    .profile .profileText h2 {
        font-size: 24px;
    }

    .profile h3 {
        font-size: 16px;
    } 
}

@media (max-width: 480px) {
    .profile {
        min-height: 500px;
    }

    .profile .row {
        justify-content: center;
        align-items: center;
    }

    .profile .profileText > div:first-child * {
        text-align: center;
    }

    .profile .profileText {
        gap: 2px;
        align-items: center;
    }

    .profile .profileText h2 {
        font-size: 22px;
    }

    .profile .profileText h3 {
        margin-top: 7px;
    }
}
