/* Project Entry Formatting */

.projectEntry {
    margin: 0px auto;
    padding: 0;
}

.projectEntry .hoverEntry {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    padding: 20px;
    border-radius: 50px;
}

.projectEntry .projectImageContainer .hoverEntry h2 {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
}

.projectEntry:hover .hoverEntry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

.projectEntry .titleImage h5 {
    padding-left: 0px;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 50px;
    max-width: 800px;
}

.projectInfo > div {
    border: 5px solid var(--primarylight);
    padding: 50px;
    border-radius: 50px;
    box-shadow: 0 6px 6px -4px lightgrey;
}

.projectImages {
    margin-top: 16px;
}
