/* Project Entry Formatting */

.projectEntry {
    padding: 20px 15px;
    margin: 0;
}

.projectEntry .hoverEntry {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    padding: 20px;
}

.projectEntry .projectImageContainer .hoverEntry h2 {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 200;
}

.projectEntry:hover .hoverEntry {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectEntry:hover .hoverEntry button {
    background-color: rgb(51, 64, 115);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 200;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid white;
}

.projectEntry:hover .hoverEntry button:hover {
    cursor: pointer;
    background-color: rgb(81, 94, 145);
}

.projectEntry h2,
.projectEntry h3 {
    text-align: center;
}

.projectEntry h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    color: rgb(112,53,41);
    font-weight: 400;
}

.projectEntry h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 24px;
    font-family: "Muli", sans-serif;
    font-weight: 300;
    color: rgb(46,53,70);
}

.projectEntry h3 a,
.projectEntry h2 a {
    margin-left: 4px;
    padding: 3px 4px;
}

.projectEntry h2 a {
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(112,53,41);
    font-weight: 400;
}

.projectEntry h3 a {
    color: rgb(46,53,70);
    text-decoration: none;
}

.projectEntry h5 {
    padding-left: 20px;
}

.projectEntry .titleImage h5 {
    padding-left: 0px;
}

.projectEntry h5,
.projectEntry li {
    font-size: 18px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

.projectEntry h5 span {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: rgb(40,61,112);
}

.projectEntry h6 {
    text-align: center;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 0;
    display: none;
    font-weight: 600;
    color: rgb(180, 110, 20);
}

@media (max-width: 750px) {
    .projectEntry h2 {
        font-size: 22px;
    }

    .projectEntry h3 {
        font-size: 18px;
    }

    .projectEntry h5,
    .projectEntry li,
    .projectEntry h5 span {
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width: 550px) {
    .projectEntry ul {
        padding-left: 20px;
    }

    .projectEntry h5 {
        padding-left: 0px;
    }
}

/* Image Formatting */

.projectEntry .projectImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
