nav {
    z-index: 5;
    position: fixed;
	right: 20px;
	top: 20px;
	margin: 0px;
    text-align: center;
    display: flex;
}

nav .container {
	font-size: 28px;
    padding: 14px 24px 12px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 2px 0 grey;
}

nav.open .container {
    background-color: var(--secondarylight);
}

nav .fa {
    font-size: 28px;
}

nav * {
    color: black;
}

nav .container:hover,
nav .container:focus {
    cursor: pointer;
    background-color: var(--secondarylight);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

nav.open .container:hover {
    background-color: var(--secondary);
}

/* nav:hover i,
nav:focus i {
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
} */

nav ul {
    list-style: none;
	position: absolute;
	background-color: transparent;
	text-align: center;
    margin: 0;
    top: 58px;
    right: 0;
    padding: 0;
}

nav ul.open {
    display: block;
}

nav ul.closed {
    display: none;
}

nav ul li {
	padding: 8px 16px;
    box-shadow: 0 1px 2px 0 grey;
    background-color: white;
    color: black;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    padding: 6px 12px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    min-width: max-content;
    margin: 2px 0;
}

nav ul li:hover {
    background-color: var(--secondarylight);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

@media (max-width: 1000px) {
    nav .container {
        font-size: 24px;
        padding: 10px 20px 8px;
    }

    nav ul {
        top: 48px;
        right: 0px;
    }
}