nav {
    z-index: 5;
    position: fixed;
	right: 20px;
	top: 20px;
	margin: 0px;
    text-align: center;
    display: flex;
}

nav .container {
	font-size: 28px;
    padding: 14px 24px 12px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 1px 2px 0 grey;
}

nav.open .container {
    background-color: var(--secondarylight);
}

nav .fa {
    font-size: 28px;
}

nav * {
    color: black;
}

nav .container:hover,
nav .container:focus {
    cursor: pointer;
    background-color: var(--secondarylight);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

nav.open .container:hover {
    background-color: var(--secondary);
}

/* nav:hover i,
nav:focus i {
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
} */

nav ul {
    list-style: none;
	position: absolute;
	background-color: transparent;
	text-align: center;
    margin: 0;
    bottom: 0;
    translate: 0 calc(100% + 2px);
    right: 0;
    padding: 4px 0;
    background-color: white;
    box-shadow: 0 1px 2px 0 grey;
    border-radius: 6px;
}

/* nav ul.open {
    display: block;
}

nav ul.closed {
    display: none;
} */

nav ul li {
	padding: 8px 16px;
    color: black;
    font-size: 16px;
    border: none;
    padding: 8px 60px 8px 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    min-width: max-content;
    text-align: left;
}

nav ul li:hover {
    background-color: var(--secondarylight);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
}

@media (max-width: 1000px) {
    nav .container {
        font-size: 24px;
        padding: 10px 20px 8px;
    }

    nav ul {
        /* top: 48px; */
    }
}
