nav {
    z-index: 5;
    position: fixed;
	right: 20px;
	top: 20px;
    height: 60px;
	margin: 0px;
	font-size: 28px;
    text-align: center;
    padding: 16px 32px;
    padding-top: 14px;
    border-radius: 10px;
    background-color: var(--navbar);
    opacity: 0.7;
}

nav * {
    color: white;
}

nav:hover,
nav:focus {
    cursor: pointer;
    opacity: 1;
    background-color: rgb(40, 40, 40);
    transition-duration: 300ms;
}

nav ul {
    list-style: none;
	position: absolute;
	background-color: transparent;
	min-width: 150px;
	text-align: center;
    top: 32px;
    right: 0px;
}

nav ul a {
    text-decoration: none;
}

nav ul li {
	padding: 8px 16px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3), 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-color: var(--navbar);
    font-size: 18px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400;
}

nav ul li:hover {
    background-color: var(--navbarHover);
    opacity: 1;
    background-color: rgb(40, 40, 40);
    transition-duration: 300ms;
}
