/* Page */

.education {
    margin: 0;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education .container {
    max-width: 1000px;
    width: 100%;
    position: relative;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.education .container h1 {
    margin: 0 auto;
}

.education .container .educationItems {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: stretch;
}

.education .container .educationItems > div {
    background-color: var(--background);
    padding: 50px;
    border-radius: 50px;
    outline: 5px solid var(--primary);
    box-shadow: 0 11px 6px -4px lightgrey;
}

.education .container ul {
    padding-left: 24px;
    margin-bottom: 0;
}

.education h3 {
    font-size: 20px;
    line-height: 30px;
    padding-top: 0px;
    margin: 0;
    font-weight: 500;
    text-align: center;
}

.education h4 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}

.education h4 span {
    margin-left: 10px;
    margin-right: 10px;
}

.education .educationToggle {
    background-color: var(--background);
    margin: -50px 0 0;
    display: block;
    font-size: 20px;
    border: none;
    padding: 4px 12px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    border-radius: 6px;
    width: fit-content;
    color: black
}

.education .educationToggle:hover {
    background-color: var(--secondarylight);
    -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
}

.education .educationToggle i {
    margin-left: 8px;
}

@media (max-width: 1000px) {
    .education h3  {
        font-size: 18px;
        line-height: 26px;
    }

    .education h4  {
        font-size: 16px;
        line-height: 24px;
    }

    .education .educationToggle,
    .education .educationToggle i {
        font-size: 18px;
    }
}

@media (max-width: 825px) {
    .education .container {
        padding: 50px;
    }

    .education .container {
        gap: 50px;
    }

    .education .educationToggle {
        margin-top: 0;
    }

    .education .container .educationItems > div {
        padding: 40px;
    }
}

@media (max-width: 550px) {
    .education .container {
        padding: 50px 25px;
    }

    .education .container .educationItems > div {
        padding: 20px;
    }
}
