.skills {
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--primarylight), var(--primarylight), var(--primarylight), var(--primarylight), white, white)
    /* background-color: #f6f9fc; */
}

.skills .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.skills h1 {
    margin: 0;
}

.skills .skillsGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 50px;
    flex-direction: column;
    align-items: center;
}

.skills .skillsGrid i {
    font-size: 48px;
    color: var(--secondary);
}

.skills .skillsGrid .skillCategoryContainer {
    border-radius: 10000px;
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 350px;
    margin: 0;
    outline: 5px solid var(--primary);
    box-shadow: 0px 2px 8px 2px black;
    width: 100%;
    max-width: 1050px;
}

.skills .skillCategoryContainer img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 210px;
    max-height: 210px;
    width: 210px;
    height: 210px;
    position: relative;
    right: 5px;
}

.skills .skillCategoryContainer .imageContainer {
    border-radius: 50px 0 0 50px;
    object-fit: cover;
    max-width: 210px;
    max-height: 210px;
}

.skills .emphasis {
    margin: 0;
}

/* .skills .skillCategoryContainer > div:first-child {
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 210px;
    max-height: 210px;
    border-radius: 50px 0 0 50px;
}

.skills .skillCategoryContainer .frontend {
    background: linear-gradient(rgba(135, 206, 251, 0.5), rgba(135, 206, 251, 0.5)), url("../../Images/frontendIcon.png") no-repeat center center;
}

.skills .skillCategoryContainer .backend {
    background: linear-gradient(rgba(135, 206, 251, 0.5), rgba(135, 206, 251, 0.5)), url("../../Images/backend.png") no-repeat center center;
}

.skills .skillCategoryContainer .soft {
    background: linear-gradient(rgba(135, 206, 251, 0.5), rgba(135, 206, 251, 0.5)), url("../../Images/softIcon.png") no-repeat center center;
} */



    

.skills .categoryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 370px;
    max-width: 830px;
    gap: 24px;
    padding: 40px 50px;
}

.skills .categoryTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.skills .categoryTitle h3 {
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.skills ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 100%;
}

.skills li {
    padding: 0;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 10000px;
    background-color: rgba(179, 232, 255, 0.15);
    color: black;
    display: block;
    border: 1px solid var(--primary);
}

@media (max-width: 1200px) {
    .skills .skillsGrid .skillCategoryContainer {
        background-color: transparent;
        max-width: unset;
        outline: none;
        box-shadow: none;
        gap: 45px;
    }

    .skills .skillCategoryContainer > * {
        box-shadow: 0px 2px 8px -3px black;
    }

    .skills .categoryContainer {
        background-color: var(--background);
        margin: 0;
        border: 5px solid var(--primary);
        border-radius: 50px;
        padding: 40px;
    }
}

@media (max-width: 1000px) {
    .skills .skillsGrid i {
        font-size: 42px;
    }

    .skills .categoryTitle h3  {
        font-size: 22px;
    }
}

@media (max-width: 980px) {
    .skills .categoryContainer {
        align-items: center;
    }
}

@media (max-width: 860px) {
    .skills .categoryTitle h3 { 
        font-size: 20px;
    }

    .skills {
        padding: 50px;
    }

    .skills .skillsGrid .skillCategoryContainer {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .skills {
        padding: 50px 25px;
    }

    .skills .skillsGrid .categoryContainer {
        padding: 20px;
    }
}
