.skills {
    width: 100%;
    background-color: var(--primarylight);
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.skills h1 {
    margin: 0;
}

.skills .skillsGrid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    gap: 60px;
}

.skills .skillsGrid i {
    font-size: 48px;
    margin-bottom: 16px;
    color: var(--secondary);
}

.skills .skillsGrid .skillCategoryContainer {
    border-radius: 50px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 50px;
    width: 350px;
    margin: 0 auto;
    outline: 5px solid var(--primary);
    box-shadow: 0 11px 6px -4px grey;
}

.skills .skillsGrid h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.skills ul {
    padding-left: 16px;
}

.skills li {
    font-size: 16px;
    line-height: 22px;
    margin: 6px 0;
}

@media (max-width: 1000px) {
    .skills .skillsGrid i {
        font-size: 42px;
    }

    .skills .skillsGrid h3  {
        font-size: 18px;
    }
}
