.profilePic {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    outline: 5px solid var(--primary);
    box-shadow: 0px 2px 8px 4px black;
}

.profilePic div {
    background: url("../../Images/profilePic.jpg") no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 1550px;
    width: 1550px;
    background-size: cover;
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -moz-transform-origin: top left;
}

@media (max-width: 825px) {
    .profile .profilePic {
        height: 225px;
        width: 225px;
    }
    
    .profile .profilePic div {
        -webkit-transform: scale(0.14516);
                transform: scale(0.14516);
        -moz-transform: scale(0.14516);
    }
}

@media (max-width: 650px) {
    .profile .profilePic {
        height: 200px;
        width: 200px;
    }

    .profile .profilePic div {
        -webkit-transform: scale(0.13);
                transform: scale(0.13);
        -moz-transform: scale(0.13);
    }
}

@media (max-width: 480px) {
    .profile .profilePic {
        height: 175px;
        width: 175px;
    }
    
    .profile .profilePic div {
        -webkit-transform: scale(0.1129);
                transform: scale(0.1129);
        -moz-transform: scale(0.1129);
    }
}
