* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    --primary: #87CEFB; /* rgb(135, 206, 251) */ 
    --primarylight: #B3E8FF; /* rgb(179, 232, 255) */ 
    --primaryfont: #1975d2; /* rgb(25, 118, 210); */
    --secondary: rgb(210, 240, 255);;
    --secondarylight: rgb(230, 245, 255);
    --background: white;
    --backgroundsecondary: #F5F5F4;
}

*:focus {
    outline:none;
}

* a {
    color: inherit;
}

.loadingContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 10000;
    background-color: white;
}

.scrollContainer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 9999;
}

.loading {
    -webkit-animation: loading 1s linear infinite;
    animation: loading 1s linear infinite;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-box-shadow: inset -2.5px 1px 1px 1px var(--primary);
            box-shadow: inset -2.5px 1px 1px 1px var(--primary);
    margin: auto;
}

.loadingContainer h1 {
    font-size: 32px;
    font-weight: 400;
}

@-webkit-keyframes loading {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

@keyframes loading {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}

.contentContainer {
    /* display: flex; */
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p, li, button {
    font-family: "Muli", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

p, li {
    line-height: 22px;
}

ul {
    padding-left: 24px;
    margin-bottom: 0;
}

li {
    padding-left: 6px;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

h1 {
    font-size: 80px;
    letter-spacing: 0.6;
    font-weight: 400;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 70px;
        letter-spacing: 0;
    }
}

@media (max-width: 750px) {
    p, li {
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 60px;
        letter-spacing: 0.5;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 40px;
    }
}

.emphasis {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--primaryfont);
}

@media (max-width: 1000px) {
    .emphasis {
        font-size: 22px;
    }
}

@media (max-width: 825px) {
    .emphasis {
        font-size: 20px;
    }
}

.fade-bounce-down-enter {
    opacity: 0;
    transform: translateY(-10%);
}

.fade-bounce-down-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: 500ms ease;
}

.fade-bounce-down-enter-done {
    opacity: 1;
    transform: translateY(0);
}

.fade-bounce-down-exit {
    opacity: 1;
    transform: translateY(0%);
}

.fade-bounce-down-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition: 500ms ease;
}

.fade-bounce-down-exit-done {
    opacity: 0;
    transform: translateY(-10%);
}




.fade-bounce-down-visibility-enter {
    opacity: 0;
    visibility: visible !important;
    transform: translateY(-10%);
}

.fade-bounce-down-visibility-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: 500ms ease;
    visibility: visible !important;
}

.fade-bounce-down-visibility-enter-done {
    opacity: 1;
    transform: translateY(0);
    visibility: visible !important;
}

.fade-bounce-down-visibility-exit {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible !important;
}

.fade-bounce-down-visibility-exit-active {
    opacity: 0;
    transform: translateY(-10%);
    transition: 500ms ease;
    visibility: visible !important;
}

.fade-bounce-down-visibility-exit-done {
    opacity: 0;
    transform: translateX(-10%);
    visibility: hidden;
}




.fade-bounce-right-visibility-enter {
    opacity: 0;
    visibility: visible !important;
    transform: translateX(-10%);
}

.fade-bounce-right-visibility-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: 500ms ease;
    visibility: visible !important;
}

.fade-bounce-right-visibility-enter-done {
    opacity: 1;
    transform: translateX(0);
    visibility: visible !important;
}

.fade-bounce-right-visibility-exit {
    opacity: 1;
    transform: translateX(0%);
    visibility: visible !important;
}

.fade-bounce-right-visibility-exit-active {
    opacity: 0;
    transform: translateX(-10%);
    transition: 500ms ease;
    visibility: visible !important;
}

.fade-bounce-right-visibility-exit-done {
    opacity: 0;
    transform: translateX(-10%);
    visibility: hidden;
}
