:root {
    --navbar: black;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* font-family: "Muli", serif; */
}

*:focus {
    outline:none;
}

body {
    margin: 0;
    padding: 0;
}

p, li {
    font-size: 18px;
    font-family: "Muli", sans-serif;
    line-height: 28px;
}

h1, h2, h3, h4, button {
    font-family: 'Roboto Slab', serif;
}

@media (max-width: 750px) {
    p, li {
        font-size: 16px;
        line-height: 23px;
    }
}

@media all and (max-device-width: 1024px) {
    .home .homeImg,
    .whyMe .banner,
    .resume .banner,
    .projects .banner {
        background-attachment: scroll;
    }
}
